<div class="container">
  <h3 mat-dialog-title>Category Detail</h3>
  <mat-dialog-content>
    <div class="row">
      <div class="col-sm-4">
        <label>Category Name:</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="categoryDetail.categoryName" />
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-4">
        <label>Category Description:</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" type="text" [(ngModel)]="categoryDetail.categoryDescription" />
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-4">
        <label>Created Date:</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" type="date" [ngModel]="categoryDetail.createdDate | date:'yyyy-MM-dd'" (ngModelChange)="categoryDetail.createdDate = $event" />
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-4">
        <label>Is Active:</label>
      </div>
      <div class="col-sm-8">
        <mat-slide-toggle [checked]="categoryDetail.isActive" [(ngModel)]="categoryDetail.isActive"></mat-slide-toggle>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3  text-right">
      <button mat-button [mat-dialog-close]="true" class="btn btn-outline-primary btn-block" (click)="onSave(isSaved)">Save</button>
    </div>
    <div class="col-sm-3  text-left">
      <button mat-button [mat-dialog-close]="false" class="btn btn-outline-primary btn-block">Cancel</button>
    </div>
    <div class="col-sm-3"></div>
  </mat-dialog-actions>
</div>
