<div class="container">
  <h4 mat-dialog-title>Delete Category</h4>
  <mat-dialog-content>Do you want to delete this Category?</mat-dialog-content>
  <mat-dialog-actions class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 text-right">
      <button mat-button [mat-dialog-close]="true" class="btn btn-outline-primary btn-block" (click)="onDelete(isSaved)">Yes</button>
    </div>
    <div class="col-sm-3 text-left">
      <button mat-button [mat-dialog-close]="false" class="btn btn-outline-secondary btn-block">No</button>
    </div>
    <div class="col-sm-3"></div>
  </mat-dialog-actions>
</div>