<div class="container" style="background-color: white">
  <div class="row">
    <div class="col-sm-6 text-left">
      <h2>Manage Item</h2>
    </div>
    <div class="col-sm-6 text-right">
      <button type="button" class="btn" (click)="onEdit()">Add New Item</button>
    </div>
  </div>
  <table *ngIf='items' class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th class="pointer" (click)="sort('itemName')">Item Name</th>
        <th class="pointer" (click)="sort('categoryId')">Category Id</th>
        <th class="pointer" (click)="sort('createdDate')">Created Date</th>
        <th class="pointer" (click)="sort('updatedDate')">Updated Date</th>
        <th>Is Active</th>
        <th class="text-center" colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items | searchBy: { itemName: searchText } | orderBy: {property: column, direction: direction}">
        <td>{{ item.itemName }}</td>
        <td>{{ item.categoryId }}</td>
        <td>{{ item.createdDate | date }}</td>
        <td>{{ item.updatedDate | date }}</td>
        <td class="text-center">
          <mat-slide-toggle [checked]="item.isActive"></mat-slide-toggle>
        </td>
        <td class="text-center"><button type="button" class="btn btn-outline-primary btn-block" (click)="onEdit(item)">Edit</button></td>
        <td class="text-center"><button type="button" class="btn btn-outline-primary btn-block" (click)="onDelete(item.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <app-paging *ngIf="itemsCount !== 0" [pageSize]="pageSize" [totalRecords]="itemsCount" (indexChange)="getPage($event)"></app-paging>
</div>