<div class="row" style="background-color: #e9ecef">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 text-center">
    <h1>Expense Management</h1>
    <p>Organized All Expenses in One Place</p>
  </div>
  <!-- <div style="position:absolute; right:153px;top: 10px;"><a href="#">Log out</a></div> -->
  <div class="col-sm-2 text-left"><a href="#">Log out</a></div>
</div>

<user-list></user-list>
<br><br>
<app-busy-indicator *ngIf="showLoader"></app-busy-indicator>
<!-- <category-list></category-list> -->
