<div class="container" style="background-color: #fff;">
  <h3 mat-dialog-title>User Detail</h3>
  <mat-dialog-content>
    <div class="row">
      <div class="col-sm-3">
        <label>First Name:</label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" type="text" [(ngModel)]="userDetail.firstName" #firstName="ngModel" required
          minlength="4" />
        <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
          <small>First Name is required (minimum 4 characters).</small>
        </div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-3">
        <label>Last Name:</label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" type="text" [(ngModel)]="userDetail.lastName" #lastName="ngModel" required
          minlength="4" />
        <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          <small>Last Name is required (minimum 4 characters).</small>
        </div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-3">
        <label>Date of birth:</label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" type="date" [ngModel]="userDetail.dateOfBirth | date:'yyyy-MM-dd'" (ngModelChange)="userDetail.dateOfBirth = $event" />
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-3">
        <label>Profession:</label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" type="text" [(ngModel)]="userDetail.profession" #Profession="ngModel" required minlength="4" />
        <div *ngIf="Profession.errors && (Profession.dirty || Profession.touched)" class="alert alert-danger">
          <small>Profession is required (minimum 4 characters).</small>
        </div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-3">
        <label>Salary:</label>
      </div>
      <div class="col-sm-9">
        <input class="form-control" type="amount" [(ngModel)]="userDetail.salary" #amount="ngModel" required minlength="4" />
        <div *ngIf="amount.errors && (amount.dirty || amount.touched)" class="alert alert-danger">
          <small>Amount is required (positive amount, max 2 decimal places).</small>
        </div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-3">
        <label>Is Active:</label>
      </div>
      <div class="col-sm-9">
        <mat-slide-toggle [checked]="userDetail.isActive" [(ngModel)]="userDetail.isActive"></mat-slide-toggle>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-3">
        <label>Upload image:</label>
      </div>
      <div class="col-sm-6">
        <input class="form-control" type="file" (change)="onFileChange($event)" />
      </div>
      <div class="col-sm-3">
        <img [src]="url" height="50" width="50">
      </div> <br />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="row">
    <div class="col-sm-6  text-right">
      <button mat-button [mat-dialog-close]="true" class="btn btn-outline-primary btn-block" (click)="onSave(isSaved)">Save</button>
    </div>
    <div class="col-sm-6  text-left">
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]="false" class="btn btn-outline-secondary btn-block">Cancel</button>
    </div>
  </mat-dialog-actions>
</div>