<div class="container">
    <legend>dd</legend>
    <div class="row text-center">
        <div class="col-sm-6 col-md-6 col-xl-6">
            Select Category
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6">
            <select>
                <option>option 1 </option>
                <option>option 2 </option>
                <option>option 3 </option>
                <option>option 4 </option>
                <option>option 5 </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-6">
            Text1
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6">
            <input type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-6">
            Text2
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6">
            <input type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-6">
            <input type="button" (click)="onSave()" value="Save" />
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6">

        </div>
    </div>
</div>