
<div class="container" style="background-color: white">
    <div class="row">
        <div class="col-sm-6">
            <add-expense (onSaveExpense)="onSaveExpense($event)"></add-expense>
        </div>
        <div class="col-sm-6">
            <table>
                <tr>
                    <th>kfdsjf</th>
                    <th>kfdsjf</th>
                    <th>kfdsjf</th>
                    <th>kfdsjf</th>
                    <th>kfdsjf</th>
                    <th>kfdsjf</th>
                    <th>kfdsjf</th>
                </tr>
            </table>
        </div>
    </div>
</div>